html, body {
  height: 100vmax;
  min-height: 100vmax;
}

.fill {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.graph {
  height: 100%;
}

#info {
  /*height: 100vmax;*/
  overflow: scroll;
}
