html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.fill {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.graph {
  height: 100%;
}

#info {
  height: 100%;
  overflow: auto;
}
